[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-fcm = "*"
django-allauth = "*"
django-extensions = "*"
dj-rest-auth = "*"
django-environ = "*"
drf-yasg2 = "*"
drf-yasg = "*"
fcm-django = "*"
firebase-admin = "*"
djangorestframework-simplejwt = "*"

[dev-packages]

[requires]
python_version = "3.8"
